.time-line {
    -fx-padding: 5;
    -fx-background-color: #404040;
    -base-color: rgb(2, 138, 204);
}

.time-line .arrow_line {
    -fx-stroke: #089990;
    -fx-stroke-width: 3px;
}

.time-line .current_element {
    -fx-stroke: #089990;
    -fx-stroke-width: 4px;
}

.time-line .current_element_circle {
    -fx-cursor: hand;
}

.time-line .labels {
    -fx-fill: #089990;
    -fx-font-size: 24;
}

.time-line .pointOnTimeline {
    -fx-stroke: #089990;
    -fx-stroke-width: 5px;
}